@font-face{
    font-family:'My-font';
    src:url('ainsliesansnormregular-webfont.ttf')
}


html, body {
    font-family: 'My-font', Verdana;
}

.eos-navbar {
    z-index: 20;
    background: #000000;
    background: rgba(0,0,0,0.3);
}

.eos-navbar .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.eos-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.eos-navbar a {
    color: #ffffff;
}

.eos-navbar > a.nav-link {
    color: #ffffff;
}

.footer {
    height: 80px;
    background-color: #000000;
    margin-top: 20px;
}

.footer > .container-fluid{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
}

.footer a {
    color: #ffffff;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

#eos-carousel {
    margin-top: -100px;
}

/* Carousel base class */
/*.carousel {*/
    /*margin-bottom: 4rem;*/
/*}*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 10rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 50rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 50rem;
}

.green {
    color: #51DEB7;
}

.green-background {
    background-color: #51DEB7;
}

.green-line {
    background: #51DEB7;
    height: 2px;
    width: 5%;
}

.mov {
    color: #5268C1;
}

.mov-background {
    background-color: #5268C1;
}

.mov-line {
    background: #5268C1;
    height: 2px;
    width: 5%;
}

.blue {
    color: #14BCDE;
}

.blue-background {
    background: #14BCDE;
}

.blue-line {
    background: #14BCDE;
    height: 2px;
    width: 5%;
}

.section {
    padding-bottom: 50px;
    padding-top: 10px;
}

.inner-section {
    padding-top: 15%;
    padding-bottom: 10%;
}

.small-inner-section {
    padding-top: 5%;
    padding-bottom: 2.5%;
}

.business-background {

}

input.form-control {
    background-color: #ebebeb;
}

textarea.form-control  {
    background-color: #ebebeb;
}

.padding-all {
    padding: 15%;
}

.padding-sides {
    padding-left: 10px;
    padding-right: 10px;
}

a.text-white.float-right.padding-all {
    text-decoration: none;
}